# Task 3 Transformation

## Import and Initializing

In [1]:
import itertools

import numpy as np  # pip install numpy
import scipy.stats  # pip install scipy

import pandas as pd  # pip install pandas
import matplotlib.pyplot as plt  # pip install matplotlib
import seaborn as sns  # pip install seaborn

sns.set_context("notebook")
sns.set_style("whitegrid")

np.seterr("raise")

FIG_SIZE = (14, 4)

CONDITION = "condition_filled"

## Loading and preparing the data

In [2]:
sheets = pd.read_excel("../datasets/DB04_speech_quality_crowdsourcing_dataset.xlsx", sheet_name=None)
print("Sheets:")
list(sheets.keys())

Sheets:

['Description',
 'CS -Full',
 'CS-per file',
 'CS-per condition',
 'CS participants',
 'Lab-per condition']

In [3]:
participants = sheets["CS participants"]
participants

                ID Gender  Birth year mother tongue      Listening device
0   A10DEO061A6L3O      F        1984       English              over-ear
1   A12HZGOZQD5YK7      F        1959       english                in-ear
2   A14WLAP6TCEKO0      F        1966       English                in-ear
3   A16UAN46CNIRHY      M        1975       English  over-ear|ex-ls|ib-ls
4   A19CB2C4GY4C60      F        1992       English              over-ear
..             ...    ...         ...           ...                   ...
66   ASXFMHGSF0GU6      M        1989       English              over-ear
67   ATXY4CAGV87ZL      M        1966       ENGLISH              over-ear
68   AVBRJBJONL47I      F        1969       English                in-ear
69   AVXEDARJC5HLU      F        1968       english                in-ear
70   AZLZA0Q87TJZO      F        1988       English              over-ear

[71 rows x 5 columns]

## Calculating age and grouping into age bins

In [4]:
year_birth = participants["Birth year"]
year_current = pd.to_datetime("now").year
age = year_current - year_birth

In [5]:
age_bins = pd.cut(age, [18, 26, 36, 50, 100], include_lowest=True)
age.groupby(age_bins).mean()

Birth year
(17.999, 26.0]    24.000000
(26.0, 36.0]      31.925926
(36.0, 50.0]      43.238095
(50.0, 100.0]     58.555556
Name: Birth year, dtype: float64

In [6]:
pd.concat([age, age_bins], axis="columns", keys=["Birth year", "Assigned age interval"])

    Birth year Assigned age interval
0           35          (26.0, 36.0]
1           60         (50.0, 100.0]
2           53         (50.0, 100.0]
3           44          (36.0, 50.0]
4           27          (26.0, 36.0]
..         ...                   ...
66          30          (26.0, 36.0]
67          53         (50.0, 100.0]
68          50          (36.0, 50.0]
69          51         (50.0, 100.0]
70          31          (26.0, 36.0]

[71 rows x 2 columns]