# Task 2

## Import and Initializing

In [2]:
import itertools
import numpy as np  # pip install numpy
import scipy.stats  # pip install scipy

import pandas as pd  # pip install pandas

## Loading the data

In [22]:
data = pd.read_csv("../Documents/speech_quality_repetition_dataset.csv")

stimulusData = data[data.testStimulus == "maus_m_700_normAsl_-26"]
stimulusData.head()

    subjectCode            testStimulus  repetition  rating
740        vp01  maus_m_700_normAsl_-26           1       5
741        vp01  maus_m_700_normAsl_-26           2       4
742        vp01  maus_m_700_normAsl_-26           3       5
743        vp01  maus_m_700_normAsl_-26           4       4
744        vp02  maus_m_700_normAsl_-26           1       5

## Create list of ratings per repetition

In [55]:
groupedRatings = stimulusData.groupby("repetition")["rating"].apply(list).reset_index(name='ratings')
groupedRatings

   repetition                                            ratings
0           1  [5, 5, 5, 5, 4, 4, 4, 5, 5, 5, 4, 5, 5, 1, 4, ...
1           2  [4, 5, 5, 5, 4, 3, 5, 4, 4, 5, 4, 5, 4, 2, 5, ...
2           3  [5, 5, 5, 5, 4, 4, 5, 4, 5, 5, 5, 5, 5, 4, 5, ...
3           4  [4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, 5, 4, 1, 4, ...

## Compute the searched correlations

In [99]:
p12 = scipy.stats.pearsonr(groupedRatings.loc[0, "ratings"],groupedRatings.loc[1, "ratings"])
p23 = scipy.stats.pearsonr(groupedRatings.loc[1, "ratings"],groupedRatings.loc[2, "ratings"])
p34 = scipy.stats.pearsonr(groupedRatings.loc[2, "ratings"],groupedRatings.loc[3, "ratings"])

corr = {"Correlated Values":['1,2','2,3','3,4'],
        "Correlation Coefficient r":[p12[0], p23[0],p34[0]],
        "p-value":[p12[1], p23[1],p34[1]]}

out = pd.DataFrame(data=corr)
out

  Correlated Values  Correlation Coefficient r   p-value
0               1,2                   0.685787  0.000003
1               2,3                   0.408791  0.012003
2               3,4                   0.443541  0.005966