# Task 2

## Import and Initializing

In [1]:
import itertools
import numpy as np  # pip install numpy
import scipy.stats  # pip install scipy

import pandas as pd  # pip install pandas
import matplotlib.pyplot as plt  # pip install matplotlib
import seaborn as sns  # pip install seaborn

sns.set_context("notebook")
sns.set_style("whitegrid")

## Loading the data

In [2]:
data = pd.read_csv("../datasets/DB02_likeability_dimension_ratings.csv",
                   usecols=["listener_age", "speaker_age", "attraktiv"])

display(data.head())

   listener_age  speaker_age  attraktiv
0            20           28         83
1            21           28        100
2            24           28         43
3            20           28         57
4            21           28          0

## Calculate age difference

In [3]:
data['age_difference'] = data['listener_age'] - data['speaker_age']
data = data.drop(columns=["listener_age", "speaker_age"])
display(data.head())

   attraktiv  age_difference
0         83              -8
1        100              -7
2         43              -4
3         57              -8
4          0              -7

## Calculate correlation

In [4]:
data.corr()

                attraktiv  age_difference
attraktiv        1.000000        0.063047
age_difference   0.063047        1.000000